.text_center{
    text-align: center;
}
.flex_all_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_btn{
    padding: 4.5px 8px;
    color: white;
    background-color: var(--color-brand-blue);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    /* top: 30%; */
}
.margin_top{
    margin-top: 5px;
}
.search_btn:hover{
    font-weight: bolder;
}